<div>
  <md-menu #mainMenu="mdMenu" yPosition="below">
    <button md-menu-item (click)="addContact()">
      <md-icon>add</md-icon>
      <span>Add contact</span>
    </button>
    <button md-menu-item>
      <md-icon>send</md-icon>
      <span>Send sms</span>
    </button>
  </md-menu>
  <md-toolbar color="primary">
    <button md-icon-button [mdMenuTriggerFor]="mainMenu"><md-icon>menu</md-icon></button><span>Phonebook</span>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Contacts">
          <md-list>
            <md-list-item *ngFor="let contact of contacts">
              <md-icon md-list-icon>folder</md-icon>
              <h4 md-line>{{contact.name}}</h4>
              <p md-line class="subheader-color">{{contact.phone}}</p>
            </md-list-item>
          </md-list>
        </md-tab>
        <md-tab label="Journal">
          <md-list>
            <md-list-item *ngFor="let contact of contacts">
              <md-icon md-list-icon>folder</md-icon>
              <h4 md-line>{{contact.name}}</h4>
              <h5 md-line class="subheader-color">{{contact.phone}}</h5>
            </md-list-item>
          </md-list>
        </md-tab>
        <md-tab label="Voice message">
          <md-list>
            <md-list-item *ngFor="let contact of contacts">
              <md-icon md-list-icon>folder</md-icon>
              <h4 md-line>{{contact.name}}</h4>
              <h5 md-line class="subheader-color">{{contact.phone}}</h5>
            </md-list-item>
          </md-list>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>