<h2 class="center">Buttons</h2>
<hr>
<div class="center">
  <h3>Md Button</h3>
  <button md-button>I'm basic generic button</button>
  <button md-button color="primary">I'm basic generic button with color</button>
  <button md-button class="background-primary-color white-text">I'm basic generic button with custom styling</button>
</div>
<hr>
<div class="center">
  <h3>Raised button</h3>
  <button md-raised-button>Raised</button>
  <button md-raised-button color="primary">Raised</button>
  <button md-raised-button class="background-primary-color white-text">Raised</button>
</div>
<hr>
<div class="center">
  <h3>Md Fab</h3>
  <button md-fab><md-icon class="black-text">accessibility</md-icon></button>
  <button md-fab><md-icon class="white-text">accessibility</md-icon></button>
  <button md-fab class="background-primary-color black-text"><md-icon>accessibility</md-icon></button>
</div>
<hr>
<div class="center">
  <h3>Md Mini Fab</h3>
  <button md-mini-fab><md-icon class="black-text">accessibility</md-icon></button>
  <button md-mini-fab><md-icon class="white-text">accessibility</md-icon></button>
  <button md-mini-fab class="background-primary-color black-text"><md-icon>accessibility</md-icon></button>
</div>
<hr>
<div class="center">
  <h3>Md Icon Button</h3>
  <div class="center">
    The same as md-mini-fab, but with transparent background by default
  </div>
  <button md-icon-button><md-icon>accessibility</md-icon></button>
  <button md-icon-button><md-icon>accessibility</md-icon></button>
  <button md-icon-button><md-icon>accessibility</md-icon></button>
</div>
<hr>
<div class="center">
  <h2>md-button-toggle</h2>
  <md-button-toggle>toggle</md-button-toggle>
</div>
<hr>
<div class="center">
  <h2>Chips</h2>
  <md-chip>without list</md-chip>
  <md-chip>without list 2</md-chip>
  <md-chip-list [selectable]="true">
    <md-chip> md-chip</md-chip>
    <md-chip class="background-primary-color white-text">md-chip background-primary-color white-text</md-chip>
    <md-chip color="primary" selected="true">md-chip color="primary" selected="true"</md-chip>
    <md-chip color="accent" selected="true">md-chip color="accent" selected="true"</md-chip>
    <md-chip color="warn" selected="true">md-chip color="warn" selected="true"</md-chip>
  </md-chip-list>
</div>
<hr>
<div class="center">
  <h2>Spinners</h2>
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
  <div>
    <md-progress-spinner mode="determinate" value="25"></md-progress-spinner>
    <md-progress-spinner mode="determinate" value="50" color="accent"></md-progress-spinner>
    <md-progress-spinner mode="determinate" value="75" color="warn"></md-progress-spinner>
  </div>
</div>
<div class="center">
  <h3 class="primary-color">Determinate</h3>
  <div class="margin-top-20">
    <md-progress-bar color="accent" mode="determinate" value="33">
    </md-progress-bar>
  </div>
  <h3 class="primary-color">Indeterminate</h3>

  <div>
    <md-progress-bar color="accent" mode="indeterminate">
    </md-progress-bar>
  </div>
  <h3 class="primary-color">Buffer</h3>

  <div>
    <md-progress-bar color="accent" mode="buffer" bufferValue="40">
    </md-progress-bar>
  </div>
  <h3 class="primary-color">Query</h3>

  <div>
    <md-progress-bar color="accent" mode="query">
    </md-progress-bar>
  </div>
</div>